{% if site.footer-links.email %}<a href="mailto: {{ site.footer-links.email }}">{% include ~/_includes/png-icons/email.html %}</a>{% endif %}
<!--{% if site.footer-links.facebook %}<a href="http://facebook.com/{{ site.footer-links.facebook }}">{% include svg-icons/facebook.html %}</a>{% endif %}-->
{% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">{% include png-icons/github.html %}</a>{% endif %}
{% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}">{% include png-icons/linkedin.html %}</a>{% endif %}
{% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">{% include png-icons/twitter.html %}</a>{% endif %}
{% if site.footer-links.tumblr %}<a href="http://{{ site.footer-links.tumblr }}.tumblr.com">{% include png-icons/tumblr.html %}</a>{% endif %}
